.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
}


.block {
    margin: 10px;
    min-width: 550px;
    border-radius: 15px;
    border: 1px solid #fa6400;
    text-decoration: none;
    padding: 11px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.link {
    margin-bottom: 10px;
}